@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');



.logoutLink{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1300px;
    margin-top: -50px;
    cursor: pointer;
    
}

.logoutLink:hover{
    color: #38B6FF;
}

.logo{
    margin-left: 30px;
    margin-top: 0px;


}

.upload{
    height: 380px;
    width: 380px;
    cursor: pointer;
    margin-top: 100px;
}

.input-group{
    margin-top: 400px;
}

.input-field1{
    width: 400px;
    height: 50px;
    margin-left: 700px;
    margin-top: -400px;
    float: left;
}

.input-field2{
    width: 400px;
    height: 150px;
    margin-left: 700px;
    margin-top: -300px;
    float: left;
}

.upload-btn{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #38B6FF;
    border: none;
    padding: 9px 9px 9px 9px;
    font-size: medium;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: -90px;
    float: left;
    cursor: pointer;
}

.upload-btn:hover{
    background-color: #21668d;
}

.finish{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    background-color:#01a2ff;
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: medium;
    border-radius: 5px;
    margin-left: 1000px;
    margin-top: -70px;
    float: left;
    cursor: pointer;
}

.finish:hover{
    background-color: #008cff;
}

.upload_page_logo{
    width: 100px;
    position: relative;
    margin-left: 700px;
    margin-top: 100px;   
  /*   margin-left: 900px;
    margin-top: -400px; */
}

.upload12{
    margin-left: 300px;
}

.UploadPic{
    margin-top: -900px;
}

.upload_page_logo img{
 border-radius: 50%;
 border: 6px solid grey
}

.upload_page_logo .round{
    position: absolute;
    bottom: 0;
    right:0;
    background: #00B4FF;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius:50%;
    overflow: hidden;
}

.upload_page_logo .round .input[type='file']{
    position: absolute;
    transform: scale(2);
    opacity:0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}


.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #38B6FF;
    border: 0;
    overflow: hidden;
    margin-left: 400px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

.btn-warning input[type="file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}
.btn-warning:hover{
    background:#2e7ca8;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}
